In [1]:
# Dependencie
import pandas as pd

In [2]:
# Load in file
movie_file = "Resources/movie_scores.csv"

In [3]:
# Read and display the CSV with Pandas
movie_file_df = pd.read_csv(movie_file)
movie_file_df.head()

,FILM,RottenTomatoes,RottenTomatoes_User,Metacritic,Metacritic_User,IMDB,Fandango_Stars,Fandango_Ratingvalue,RT_norm,RT_user_norm,...,IMDB_norm,RT_norm_round,RT_user_norm_round,Metacritic_norm_round,Metacritic_user_norm_round,IMDB_norm_round,Metacritic_user_vote_count,IMDB_user_vote_count,Fandango_votes,Fandango_Difference
0,Avengers: Age of Ultron (2015),74,86,66,7.1,7.8,5.0,4.5,3.70,4.3,...,3.90,3.5,4.5,3.5,3.5,4.0,1330,271107,14846,0.5
1,Cinderella (2015),85,80,67,7.5,7.1,5.0,4.5,4.25,4.0,...,3.55,4.5,4.0,3.5,4.0,3.5,249,65709,12640,0.5
2,Ant-Man (2015),80,90,64,8.1,7.8,5.0,4.5,4.00,4.5,...,3.90,4.0,4.5,3.0,4.0,4.0,627,103660,12055,0.5
3,Do You Believe? (2015),18,84,22,4.7,5.4,5.0,4.5,0.90,4.2,...,2.70,1.0,4.0,1.0,2.5,2.5,31,3136,1793,0.5
4,Hot Tub Time Machine 2 (2015),14,28,29,3.4,5.1,3.5,3.0,0.70,1.4,...,2.55,0.5,1.5,1.5,1.5,2.5,88,19560,1021,0.5

In [4]:
# List all the columns in the table
movie_file_df.columns

Index(['FILM', 'RottenTomatoes', 'RottenTomatoes_User', 'Metacritic',
       'Metacritic_User', 'IMDB', 'Fandango_Stars', 'Fandango_Ratingvalue',
       'RT_norm', 'RT_user_norm', 'Metacritic_norm', 'Metacritic_user_nom',
       'IMDB_norm', 'RT_norm_round', 'RT_user_norm_round',
       'Metacritic_norm_round', 'Metacritic_user_norm_round',
       'IMDB_norm_round', 'Metacritic_user_vote_count', 'IMDB_user_vote_count',
       'Fandango_votes', 'Fandango_Difference'],
      dtype='object')

In [5]:
# We only want IMDb data, so create a new table that takes the Film and all the columns relating to IMDB
imdb_df = movie_file_df[['FILM', 'IMDB', 'IMDB_norm', 'IMDB_norm_round', 'IMDB_user_vote_count']]

imdb_df.head()

,FILM,IMDB,IMDB_norm,IMDB_norm_round,IMDB_user_vote_count
0,Avengers: Age of Ultron (2015),7.8,3.90,4.0,271107
1,Cinderella (2015),7.1,3.55,3.5,65709
2,Ant-Man (2015),7.8,3.90,4.0,103660
3,Do You Believe? (2015),5.4,2.70,2.5,3136
4,Hot Tub Time Machine 2 (2015),5.1,2.55,2.5,19560

In [6]:
# We only like good movies, so find those that scored over 7, and ignore the norm rating
good_movies_df = imdb_df.loc[imdb_df["IMDB"] >= 7, [
    "FILM", "IMDB", "IMDB_user_vote_count"]]
good_movies_df.head()

                             FILM  IMDB  IMDB_user_vote_count
0  Avengers: Age of Ultron (2015)   7.8                271107
1               Cinderella (2015)   7.1                 65709
2                  Ant-Man (2015)   7.8                103660
5        The Water Diviner (2015)   7.2                 39373
8    Shaun the Sheep Movie (2015)   7.4                 12227

In [7]:
# Find less popular movies--i.e., those with fewer than 20K votes
unknown_movies_df = good_movies_df.loc[good_movies_df["IMDB_user_vote_count"] < 20000, [
    "FILM", "IMDB", "IMDB_user_vote_count"]]
unknown_movies_df.head()

                                 FILM  IMDB  IMDB_user_vote_count
8        Shaun the Sheep Movie (2015)   7.4                 12227
9                 Love & Mercy (2015)   7.8                  5367
10  Far From The Madding Crowd (2015)   7.2                 12129
20              McFarland, USA (2015)   7.5                 13769
29         The End of the Tour (2015)   7.9                  1320

In [8]:
unknown_movies_df.sort_values(by=['IMDB'])

,FILM,IMDB,IMDB_user_vote_count
132,Max (2015),7.0,5444
43,The Diary of a Teenage Girl (2015),7.0,1107
137,Danny Collins (2015),7.1,11206
109,The 100-Year-Old Man Who Climbed Out the Windo...,7.1,17237
120,The Wolfpack (2015),7.1,1488
121,The Stanford Prison Experiment (2015),7.1,950
118,Infinitely Polar Bear (2015),7.2,1062
10,Far From The Madding Crowd (2015),7.2,12129
119,Phoenix (2015),7.2,3687
41,Timbuktu (2015),7.2,6246
117,Testament of Youth (2015),7.3,5495
68,Monkey Kingdom (2015),7.3,883
122,Tangerine (2015),7.4,696
85,Little Boy (2015),7.4,5927
141,Mr. Holmes (2015),7.4,7367
126,Woman in Gold (2015),7.4,17957
8,Shaun the Sheep Movie (2015),7.4,12227
32,The Hunting Ground (2015),7.5,1196
92,Dope (2015),7.5,4911
20,"McFarland, USA (2015)",7.5,13769
66,The Gift (2015),7.6,10891
70,Seymour: An Introduction (2015),7.7,243
30,Red Army (2015),7.7,2275
144,Gett: The Trial of Viviane Amsalem (2015),7.8,1955
71,The Wrecking Crew (2015),7.8,732
31,When Marnie Was There (2015),7.8,4160
9,Love & Mercy (2015),7.8,5367
29,The End of the Tour (2015),7.9,1320
129,Amy (2015),8.0,5630
96,Song of the Sea (2014),8.2,14067
86,Me and Earl and The Dying Girl (2015),8.2,5269
95,The Salt of the Earth (2015),8.4,6605
76,Straight Outta Compton (2015),8.4,15982